@{
    ViewBag.Title = "About";
}
<div class="text1">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    
        <p>
            This website is here to help with all your book needs .We are here to help find you the novel or ook that you want
            . We offer recommended books for you to browse .We give you the oppurtunity to access them via links .
            You'll be able to create a review for a book .
            You'll be able to create a rating for a book and leave a comment for the book.
        </p>
        
 
    </div>