@{
    ViewBag.Title = "Addbook";
}
<html>
<head>
    <meta charset="utf-8" />
    <title>Add Book</title>
</head>
<body>
    <!-- Header -->
    <div class="header">
        <ul>
            <li><h1>Add Book</h1></li>
        </ul>
    </div>
    <!-- Creating table -->
    <div class="Content">
        <form method="post" action="AddBookProcessor.aspx">
            <table class="center" border="1">
                <tr>
                    <td>ISBN</td>
                    <td><input name="txtISBN" type="text" /> </td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td><input name="txtAuthor" type="text" /> </td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td> <input name="txtTitle" type="text" /> </td>
                </tr>
                <tr>
                    <td>Publisher</td>
                    <td><input name="txtPublisher" type="text" /> </td>
                </tr>
                <tr>
                    <td>Year Published</td>
                    <td> <input name="txtYear" type="text" /> </td>
                </tr>
                <tr>
                    <td>Shelf Number</td>
                    <td> <input name="txtShelf" type="text" /> </td>
                </tr>
                <tr>
                    <td>Edition Number</td>
                    <td><input name="txtEdition" type="text" /> </td>
                </tr>
                <tr>
                    <td>Genre Code</td>
                    <td><input name="txtGenre" type="text" /> </td>
                </tr>
            </table>
            <!--Buttons being created-->
            <div class="inline">
                <p><a href="http://localhost:51464/" class="btn btn-primary btn-lg">Main Menu &raquo;</a></p>
                <input class="button" name="AddBook" type="button" value="Add Book" onclick="myFunction();" />
            </div>

        </form>
    </div>
    <!--Pop up being created-->
    <script>
        function myFunction() {
            alert("Book Successfully Added");
        }
    </script>

</body>

</html>