@{
    ViewBag.Title = "BookLink";
}
<head>
    <meta charset="utf-8" />
</head>
<html>
<body>
    <div class="description">
        <!-- Content -->
        <div class="Content">
            <!-- Header -->
            <div class="header">
                <ul>
                    <h1>Book Link</h1>
                </ul>
            </div>
            <table class="center" border="1" cellpadding="4">

                <tr>

                    <th>
                        Book Name
                    </th>

                </tr>
                <tr>
                    <td>Harry Potter and the goblet of fire</td>
                    <td><a href="http://www.culamdi.com/wp-content/uploads/2017/06/J.K.-Rowling-HP-4-Harry-Potter-and-the-Goblet-of-Fire.pdf">Read here &raquo;</a></td>

                </tr>
                <tr>
                    <td>Game of thrones</td>
                    <td><a href="https://gameofthronespdf.com/">Read here &raquo;</a></td>
                </tr>
                <tr>
                    <td>Matilda</td>
                    <td><a href="http://jssisdubai.com/Document/Uploaded/Matilda.pdf">Read here &raquo;</a></td>
                </tr>
                <tr>
                    <td>Macbeth</td>
                    <td><a href="http://shakespeare.mit.edu/macbeth/full.html">Read here &raquo;</a></td>
                </tr>
                <tr>
                    <td>The Witches</td>
                    <td><a href="http://coamed.pbworks.com/f/Roald+Dahl+-+The+Witches.pdf">Read here &raquo;</a></td>
                </tr>
            </table>
        </div>
        <p><a href="http://localhost:51464/" class="btn btn-primary btn-lg">Main Menu &raquo;</a></p>
    </div>

</body>
</html>
