@{
    ViewBag.Title = "Recommended avaliable";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="column">
    <img src="basketball 1.jpg">
    <img src="basketball.jpg">
    <img src="basketball2.jpg">
    <img src="basketball3.jpg">
    <img src="basketball4.jpg">
    <img src="basketball5.jpg">

</div>









<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>