@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library Obession</h1>
    <p class="lead">Whats your next read?</p>
    <p><a href="http://localhost:51464/Home/Contact" class="btn btn-default">Learn more &raquo;</a></p>
</div>


<div class="col-md-4">
    <br />
    <h2>Recommended books</h2>
    <p>
        We have a greate range of books that you can choose from , we really want to suit your interest.
        You can view our recommended books to see what one peaks your interest
    </p>

    <div class="row">
        <div class="column">
            <img src="~/images/basketball.jpg" alt="Snow" style="width:100%">
        </div>
        <div class="column">
            <img src="~/images/basketball 1.jpg" alt="Forest" style="width:100%">
        </div>
        <div class="column">
            <img src="~/images/basketball2.jpg" alt="Mountains" style="width:100%">
        </div>
    </div>
    <p><a href="http://localhost:51464/Home/Contact" class="btn btn-default">Learn more &raquo;</a></p>

    
</div>
  

