body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
}

.jumbotron{
    color:aqua;
    background-color:black
}

.btn btn-default {
    color: antiquewhite;
    background-color: red
}



.col-md-4 {
    background-color: black;
    width: 300px;
    border: 15px solid aqua;
    padding: 50px;
    margin: 20px;
    color: aqua;
    font-family: 'Baskerville Old Face';
    font-size: xx-large;
    position: center;
    width: 1000px;
}

.col-md-8 {
    background-color: black;
    width: 300px;
    border: 15px solid aqua;
    padding: 50px;
    margin: 20px;
    color: aqua;
    font-family: 'Baskerville Old Face';
    font-size:xx-large;
    position: center;
    width: 1000px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.text1 {
    background-color: black;
    width: 300px;
    border: 15px solid aqua;
    padding: 50px;
    margin: 20px;
    color: aqua;
    font-family: 'Baskerville Old Face';
    font-size: xx-large;
    position: center;
    width: 1000px;
}

.text2 {
    font-family: 'Baskerville Old Face';
    font-size: large;
    position: center;
    width: 1000px;
}

.picture{
    position:absolute;
    left:10%;
    width:200px;
    height:200px;
}

.description {
    background-color: black;
    width: 300px;
    border: 15px solid aqua;
    padding: 50px;
    margin: 20px;
    color: aqua;
    font-family: 'Baskerville Old Face';
    font-size: large;
    position: center;
    width: 1000px;
}

.card-body {
    position: absolute;
    top: 130%;
    width: 300px;
    border: 15px solid aqua;
    padding: 50px;
    margin: 20px;
    color: aqua;
    width:1000px;
}

.amazon {
    position: fixed;
    top: 90%;
}

.card-body1 {
    position: absolute;
    top: 150%;
    width: 300px;
    border: 15px solid aqua;
    padding: 50px;
    margin: 20px;
    color: aqua;
    width: 1000px;
    left:10%;
}

.card-body2 {
    position: absolute;
    top: 140%;
    width: 300px;
    border: 15px solid aqua;
    padding: 50px;
    margin: 20px;
    color: aqua;
    width: 1000px;
    left: 10%;
}

.form-control{
    width:1000px;
}

.ratings {
    position: absolute;
    top: 30%;
    right: 30%;
    color: aqua;
    font-family: 'Baskerville Old Face';
    font-size:larger;
}