
@{
    ViewBag.Title = "Ben Simmons";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ben Simmons</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Author</h2>

    </div>
    <description>
       @*enter description of the book*@
    </description>
</body>
</html>
