
@{
    ViewBag.Title = "Ben Simmons";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ben Simmons</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Author</h2>

    </div>
    <div class="picture">
        <img src="~/images/basketball5.jpg" alt="BenSimmons" />
    </div>
    <description>
        @*enter description of the book*@
        In Ben Simmons: The Inspiring Story of One of Basketball's Rising All-Stars, you will learn the incredible story of one of basketball's most exciting guards to watch, Ben Simmons. Since being drafted first overall in the 2016 NBA Draft, Ben Simmons has quickly emerged as one of the league's top young stars to watch.
    </description>
</body>
</html>
