
@{
    ViewBag.Title = "Legends";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Legends</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Author</h2>
    </div>
    <div class="picture">
        <img src="~/images/basketball.jpg" alt="Legends" height="400" width="200" />
        <link href="~/Content/Site.css" rel="stylesheet" />
    </div>
    <div class="description">
        From Magic Johnson to Michael Jordan to LeBron James to Steph Curry, ESPN's Howard Bryant presents the best from the hardwood--a collection of NBA champions and superstars for young sports fans!

    </div>


    <div class="amazon">
        <h3> Get a copy</h3>
        <form action="https://www.amazon.com/Mamba-Mentality-How-Play/dp/0374201234">
            <button type="submit">Amazon</button>
        </form>
    </div>
    <h4>Review</h4>
    <input id="btnReview" type="button" value="Add Review" />
    @if (Session["username"] == null)
    {
        <a href="@Url.Action("Login", "Account")">Login to review.</a>
    }
</body>
</html>
