

@{
    ViewBag.Title = "Legends";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Legends</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.Author</h1> 
    </div>
    <div class="picture">
        <img src="~/images/basketball.jpg" alt="Legends" />
    </div>
    <description>
        From Magic Johnson to Michael Jordan to LeBron James to Steph Curry, ESPN's Howard Bryant presents the best from the hardwood--a collection of NBA champions and superstars for young sports fans!

    </description>
</body>
</html>
