
@{
    ViewBag.Title = "Legends";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Legends</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Author</h1>
    </div>
    <div class="picture">
        <img src="~/images/basketball.jpg" alt="Legends" />
    </div>
    <description>
        From Magic Johnson to Michael Jordan to LeBron James to Steph Curry, ESPN's Howard Bryant presents the best from the hardwood--a collection of NBA champions and superstars for young sports fans!

    </description>
    <h3>Review</h3>
    <input id="btnReview" type="button" value="Add Review" />
    @if (Session["username"] == null)
    {
        <a href="@Url.Action("Login", "Account")">Login to review.</a>
    }
</body>
</html>
