

@{
    ViewBag.Title = "The Mamba Mentality";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Mamba Mentality</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Author</h1>
    </div>
</body>
</html>
