
@{
    ViewBag.Title = "The Mamba Mentality";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Mamba Mentality</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Author</h2>
    </div>
    @*Add vote or rating*@
    <div class="picture">
        <img src="~images/basketball 1.jpg" alt="TheMambaMentality" />
    </div>
    <description>
        The Mamba Mentality: How I Play is Kobe Bryant's personal perspective of his life and career on the basketball court and his exceptional, insightful style of playing the game--a fitting legacy from the late Los Angeles Laker superstar.
    </description>
    @*review book*@
    <h3>Review</h3>
    <input id="btnReview" type="button" value="Add Review" />
    @if (Session["username"]== null)
    {
        <a href="@Url.Action("Login", "Account")">Login to review.</a>
    }
</body>
</html>
